# Compiled object files
*.o
*.obj

# Compiled static libraries
*.a

# Compiled shared libraries
*.so
*.dylib

# Compiled dynamic libraries
*.dll
*.lib

# Build directories
build/
bin/


# Temporary files
*.tmp
*.swp
*.swo

# MacOS specific files
*.DS_Store

# IDE specific files
*.vscode/
*.idea/
*.suo
*.user
*.ncb
*.gch


